MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS=true
MAIL_SMTP_STARTTLS_REQUIRED=true
MAIL_SMTP_SSL_TRUST=smtp.gmail.com
MAIL_DEBUG=false
MAIL_USERNAME=your@gmail.com
MAIL_PASSWORD=APP_PASSWORD_16_CHARS_NO_SPACES
MAIL_FROM=your@gmail.com
FRONTEND_BASE_URL=http://localhost:4200

