<ul class="navbar-nav ms-auto align-items-center">
  <li>
    <div class="dropdown" ngbDropdown display="static">
      <a ngbDropdownToggle href="javascript:">
        <i class="icon feather icon-bell"></i>
        <span *ngIf="unreadCount > 0" class="badge badge-pill badge-danger">{{ unreadCount }}</span>
      </a>
      <div ngbDropdownMenu class="dropdown-menu-end notification">
        <div class="noti-head">
          <h6 class="d-inline-block m-b-0">Notifications</h6>
          <div class="float-right">
            <a href="javascript:" class="m-r-10" (click)="markAllRead()">marquer comme lu</a>
            <a href="javascript:" (click)="clearNotifications()">tout effacer</a>
          </div>
        </div>
        <ul class="noti-body">
          <li *ngIf="notifications.length === 0" class="notification">
            <div class="media">
              <div class="media-body">
                <p class="m-b-0">Aucune notification</p>
              </div>
            </div>
          </li>
          <li *ngFor="let n of notifications | slice:0:6" class="notification" (click)="openNotification(n)">
            <div class="media">
              <img class="img-radius" [src]="profileImage" alt="Notification image">
              <div class="media-body">
                <p>
                  <strong *ngIf="!n.lu">Nouveau</strong>
                  <span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>{{ n.date | date:'short' }}</span>
                </p>
                <p class="m-b-0">{{ n.message }}</p>
              </div>
            </div>
          </li>
        </ul>
        <div class="noti-footer">
          <a [routerLink]="['/user']">tout afficher</a>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="drp-user dropdown" ngbDropdown display="static">
      <a href="javascript:" ngbDropdownToggle>
        <i class="feather icon-user"></i>
      </a>
      <div class="dropdown-menu-end profile-notification" ngbDropdownMenu>
        <div class="pro-head">
          <img [src]="profileImage" class="img-radius" alt="User-Profile-Image">
          <span>{{ auth.username() }}</span>
          <a href="javascript:" (click)="logout()" class="dud-logout" title="Déconnexion">
            <i class="feather icon-log-out"></i>
          </a>
        </div>
        <ul class="pro-body">
          <li class="pro-section">Espace Client</li>
          <li><a [routerLink]="['/user']" class="dropdown-item"><i class="feather icon-user"></i> Mon Profil</a></li>
          <li><a [routerLink]="['/profile/change-password']" class="dropdown-item"><i class="feather icon-lock"></i> Changer mot de passe</a></li>
          <li><a href="javascript:" (click)="logout()" class="dropdown-item"><i class="feather icon-log-out"></i> Déconnexion</a></li>
        </ul>
      </div>
    </div>
  </li>
</ul>
