<ng-scrollbar style="height: 100%" visibility="hover">
  <div class="bna-sidebar-brand">
    <a class="bna-sidebar-brand-link" [routerLink]="['/admin']">
      <div class="bna-brand-container">
        <img src="assets/images/logo-bna-new.png.jpg" alt="BNA BANK" class="bna-logo-img">
      </div>
    </a>
  </div>

  <div class="navbar-content bna-sidebar-content">
    <ul class="nav pcoded-inner-navbar bna-sidebar-menu">
      @for (item of navigations; track item) {
        @if (item.type === 'group') {
          <app-nav-group [item]="item" />
        } @else if (item.type === 'collapse') {
          <app-nav-collapse [item]="item" />
        } @else if (item.type === 'item') {
          <app-nav-item [item]="item" />
        }
      }
    </ul>
  </div>
</ng-scrollbar>
