<div class="auth-wrapper">
  <div class="auth-content text-center">
    <h3 class="text-white mb-4">E-Banking</h3>
    <div class="card borderless">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <form class="card-body" (ngSubmit)="submit()">
            <h4 class="mb-3 f-w-400">Signup</h4>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Username" [(ngModel)]="username" name="username" required>
            </div>
            <div class="input-group mb-4">
              <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" name="password" required>
            </div>
            <div class="input-group mb-4">
              <input type="password" class="form-control" placeholder="Confirm Password" [(ngModel)]="confirmPassword" name="confirmPassword" required>
            </div>
            <button class="btn btn-block btn-primary mb-4" type="submit">Signup</button>
            <p class="mb-0 text-muted">Already have an account? <a [routerLink]="['/login']" class="f-w-400">Signin</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
